@model WebApplication9.Models.actividad
<script src="~/Content/Scripts/jquery.validate.min.js"></script>
<script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/Scripts/moment.js"></script>
<script src="~/Content/Scripts/jquery-ui.js"></script>
<div id="lala"></div>

@using (Ajax.BeginForm(null, null, new AjaxOptions { HttpMethod = "POST" }, new { id = "formActividad" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_oportunidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.id_oportunidad, new SelectList(Model.oList, "id", "id"), "Seleccione Oportunidad", new { required = "required" })
                @Html.ValidationMessageFor(model => model.id_oportunidad, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <b> @Html.Label("Usuarios",new { @class = "control-label col-md-2" })</b>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.id_contacto, new SelectList(Model.usuarioList, "id", "FullName"), "Seleccione Usuario", new { required = "required" })
                @Html.ValidationMessageFor(model => model.id_contacto, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.fecha_inicio, htmlAttributes: new { @class = "control-label col-md-2 text-nowrap" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.fecha_inicio, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.fecha_inicio, new { @id = "FechaI", @class = "Datepicker", @Value = Model.fecha_inicio.ToString("dd-MM-yyyy"), required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.fecha_vencimiento, htmlAttributes: new { @class = "control-label col-md-2 text-nowrap" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.fecha_vencimiento, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.fecha_vencimiento, new { @id = "FechaT", @class = "Datepicker", @Value = Model.fecha_vencimiento.ToString("dd-MM-yyyy"), required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $('#formActividad').on("submit", function (e) {
        e.preventDefault();
        var aModel = {
            id_oportunidad: $('#id_oportunidad').val().trim(),
            id_contacto: $('#id_contacto').val(),
            fecha_inicio: $('#FechaI').val(),
            fecha_vencimiento: $('#FechaT').val(),
            titulo: $('#titulo').val(),
            descripcion: $('#descripcion').val(),
        };
        var $form = $("#formActividad");
        $.validator.unobtrusive.parse($form);


        if ($form.valid()) {
            $.ajax({
                type: "POST",
                url: "/Actividades/Crear_Actividad",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: $form.serialize()+"&tipo_actividad=Tarea",
                success: function (response) {

                    alert('Registro ingresado con éxito');

                    if ($('#my-dialogOps').dialog('isOpen') == true) {
                        var id_oportunidad = document.getElementById('id_oportunidad').value;
                        $('#my-dialogOps').load('/Oportunidades/detalle_oportunidad/' + id_oportunidad, function () {
                            $(this).dialog('open');
                        });
                    }

                    if ($('#my-dialog2').dialog('isOpen') == true) {
                        $('#my-dialog2').dialog('close');
                    }
                    else {
                        location.reload();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Error!!');
                }
            });
        }


    });
    $(document).ready(function () {
        $('.Datepicker').datepicker({
            dateFormat: "dd-mm-yy",
            showStatus: true,
            showWeeks: true,
            currentText: 'Now',
            autoSize: true,
            gotoCurrent: true,
            showAnim: 'blind',
            highlightWeek: true
        });

        $('#FechaI').change(function () {
            var TxtBox = document.getElementById("FechaT");

            TxtBox.value = $(this).val();
            var string = $(this).val()
        });


    });

    $(function () {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD-MM-YYYY", true).isValid();
        }
    });

    $("#my-dialog2").dialog('option', 'title', 'Actividad');
    $("#my-dialogActs").dialog('option', 'title', 'Actividad');
</script> 

<div>
    @Html.ActionLink("Volver al índice", "/Index_actvidades")
</div>
