@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication9.Models.actividad>

@{
    ViewBag.Title = "índice de Actividades";
    Layout = "~/Views/Proyectob/Shared/_Layout.cshtml";
}
<div class="col">
    <h2>Índice actividades</h2>
    <div id="my-dialogActs"></div>
    <style>
        .descr {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
        }

            .descr:hover {
                text-overflow: clip;
                white-space: normal;
                word-break: normal;
            }
    </style>

    <p>
        @Html.ActionLink("Crear Actividad", "Crear_Actividad", null, new { @class = "modolo btn-primary btn-sm" })
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().fecha_inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().fecha_vencimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().creada_por)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().tipo_actividad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().oportunidades.tema)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().usuario.id_contacto)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_vencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td class="descr">
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creada_por)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo_actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.oportunidades.tema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.id_contacto)
                </td>
                <td>
                    <div class="d-inline">
                        @Html.ActionLink("Editar", "Edit_Actividad", new { id = item.id }, new { @class = "modolo btn btn-primary btn-sm" })
                        @Html.ActionLink("Detalles", "Details_Actividad", new { id = item.id }, new { @class = "modolo btn btn-primary btn-sm" })
                        @Html.ActionLink("Eliminar", "Delete_Actividad", new { id = item.id }, new { @class = "modolo btn btn-primary btn-sm" })
                    </div>
                </td>
            </tr>
        }

    </table>
    @section scripts {
        <script type="text/javascript">
            $(function () {
                $('#my-dialogActs').dialog({
                    autoOpen: false,
                    width: 'auto',
                    height: 'auto',
                    resizable: false,
                    modal: true
                });

                $('.modolo').click(function () {
                    $('#my-dialogActs').load(this.href, function () {
                        $(this).dialog('open');
                    });
                    return false;
                });
            });


        </script>
    }


    @Html.PagedListPager(Model, page => Url.Action("Index_usuarios",
        new { page, pageSize = Model.PageSize }))
</div>