@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication9.Models.actividad>

@{
    ViewBag.Title = "índice de Actividades";
    Layout = "~/Views/Proyectob/Shared/_Layout.cshtml";
}
<div class="col">
    <h2>Índice actividades</h2>
    <div id="my-dialogActs"></div>
    <style>
        .descr {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
        }

            .descr:hover {
                text-overflow: clip;
                white-space: normal;
                word-break: normal;
            }
    </style>

    <p>
    </p>
    @using (Html.BeginForm("/index_actividades", "actividades", FormMethod.Get))
    {
        <div class="col-sm-4">
            <p>
                @Html.ActionLink("Crear Actividad", "Crear_Actividad", null, new { @class = "modolo btn-primary btn-sm" })
                @Html.TextBox("search") <input type="submit" value="Buscar" />
                @Html.DropDownList("nn", new SelectList(ViewBag.NumeroR, "Value", "Text"), new { @onchange = "this.form.submit()" })
            </p>
        </div>


    }
    <table class="table table-striped" id="medetai">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.ActionLink("Fecha Inicio", "index_actividades", new { sortBy = ViewBag.SortFechaI, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Fecha Vencimiento", "index_actividades", new { sortBy = ViewBag.SortFechaV, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Título", "index_actividades", new { sortBy = ViewBag.SortTitulo, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Descripción", "index_actividades", new { sortBy = ViewBag.SortDescr, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Creada por", "index_actividades", new { sortBy = ViewBag.SortCreadaPor, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Estado", "index_actividades", new { sortBy = ViewBag.SortEstado, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Tipo Actividad", "index_actividades", new { sortBy = ViewBag.SortTipoAct, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Tema Oportunidad", "index_actividades", new { sortBy = ViewBag.SortTema, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Contacto", "index_actividades", new { sortBy = ViewBag.SortContacto, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_vencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td class="descr">
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creada_por)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo_actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.oportunidades.tema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.contactos.FullName)
                </td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-info dropdown-toggle btn-sm" id="dlDropDown" data-toggle="dropdown">
                            Opciones
                        </button>
                        <div class="dropdown-menu">
                                @Html.ActionLink("Editar", "Edit_Actividad", new { id = item.id }, new { @class = "modolo dropdown-item" })
                                @Html.ActionLink("Detalles", "Details_Actividad", new { id = item.id }, new { @class = "modolo dropdown-item" })
                                @Html.ActionLink("Eliminar", "Delete_Actividad", new { id = item.id }, new { @class = "modolo dropdown-item" })
                    </div>
                     </div>
                </td>
            </tr>
        }

    </table>
    @section scripts {
        <script type="text/javascript">
            $(function () {
                $('#my-dialogActs').dialog({
                    autoOpen: false,
                    width: 'auto',
                    height: 'auto',
                    resizable: false,
                    modal: true
                });

                $('.modolo').click(function () {
                    $('#my-dialogActs').load(this.href, function () {
                        $(this).dialog('open');
                    });
                    return false;
                });
            });


        </script>
    }


    @Html.PagedListPager(Model, page => Url.Action("index_actividades", new { page, search = Request.QueryString["search"], nn = Request.QueryString["nn"], sortBy = Request.QueryString["sortBy"] }))


</div>