@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication9.Models.oportunidades>

@{
    ViewBag.Title = "Oportunidades";
    Layout = "~/Views/Proyectob/Shared/_Layout.cshtml";
}

<div class="col">

    <div id="my-dialogOps"></div>
    <h2>Oportunidades</h2>

    <p>
        @Html.ActionLink("Crear", "Crear_OportunidadP", null, new { @class = "modolo btn btn-primary btn-sm m-1" })
    </p>
    @using (Html.BeginForm("/Index_Oportunidades", "Oportunidades", FormMethod.Get))
    {    <p>
        @Html.TextBox("search") <input type="submit" value="Buscar" />


             @Html.DropDownList("estado", new SelectList(ViewBag.Estados, "Value", "Text"), new { @onchange = "this.form.submit()" })
             @Html.DropDownList("nn", new SelectList(ViewBag.NumeroR, "Value", "Text"), new { @onchange = "this.form.submit()" })

    </p>
    }

    @using (Html.BeginForm("/Index_Oportunidades", "Oportunidades"))
    {
        <input type="submit" class="btn btn-info btn-sm" value="Lograda" name="Lograda" />
        <input type="submit" class="btn btn-info btn-sm" value="Perdida" name="Perdida" />
        <input type="submit" class="btn btn-info btn-sm" value="Asignar a" name="Asignar" />
        @Html.DropDownList("lala", new SelectList(ViewBag.Hola, "Value", "Text"), "Elija Contacto")
        <table class="table table-striped" id="myTable medetai">

            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>
                        @Html.ActionLink("Contacto Empresa", "index_oportunidades", new { sortBy = ViewBag.SortCempresa, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"], page = Request.QueryString["page"] })
                    </th>
                    <th>
                        @Html.ActionLink("Nombre Empresa", "index_oportunidades", new { sortBy = ViewBag.SortNempresa, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"], page = Request.QueryString["page"] })
                    </th>
                    <th>
                        @Html.ActionLink("Contacto Asignado", "index_oportunidades", new { sortBy = ViewBag.SortCasignado, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"], page = Request.QueryString["page"] })
                    </th>
                    <th>
                        @Html.ActionLink("Fecha de Creación", "index_oportunidades", new { sortBy = ViewBag.SortFechaC, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"], page = Request.QueryString["page"] })
                    </th>
                    <th>
                        @Html.ActionLink("Fecha de Vencimiento", "index_oportunidades", new { sortBy = ViewBag.SortFechaV, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"], page = Request.QueryString["page"] })
                    </th>

                    <th>
                        @Html.ActionLink("Estado", "index_oportunidades", new { sortBy = ViewBag.SortEstado, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"], page = Request.QueryString["page"] })
                    </th>
                    <th>
                        @Html.ActionLink("Tema", "index_oportunidades", new { sortBy = ViewBag.SortTema, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"], page = Request.QueryString["page"] })
                    </th>
                    <th>
                        @Html.ActionLink("Cupos", "index_oportunidades", new { sortBy = ViewBag.SortCupos, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"], page = Request.QueryString["page"] })
                    </th>

                    <th>
                        @Html.ActionLink("Gestiones", "index_oportunidades", new { sortBy = ViewBag.SortGestiones, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"], page = Request.QueryString["page"] })
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="10">No se encontraron filas</td>
                    </tr>
                }
                else

                {

                    for (int i = 0; i < Model.Count(); i++)
                    {


                        <tr>

                            <td>
                                @Html.HiddenFor(model => model[i].id)
                                @Html.CheckBoxFor(model => model[i].isSelected)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model[i].contacto_empresa.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model[i].contacto_empresa.empresa.razon_social)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model[i].usuario.contactos.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model[i].fecha_creacion)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model[i].fecha_vencimiento)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model[i].estado)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model[i].tema)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model[i].cupos)
                            </td>
                            <td></td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-info dropdown-toggle btn-sm" id="dlDropDown" data-toggle="dropdown">
                                        Opciones
                                    </button>
                                    <div class="dropdown-menu">
                                        @Html.ActionLink("Editar", "edit_oportunidad",null, new { id = Model[i].id }, new { @class = "modolo dropdown-item" })
                                        @Html.ActionLink("Detalles", "detalle_oportunidad",null, new { id = Model[i].id }, new { @class = "modolo dropdown-item" })
                                        @Html.ActionLink("Eliminar", "delete_oportunidad",null, new { id = Model[i].id }, new { @class = "modolo dropdown-item" })
                                    </div>
                                </div>
                            </td>

                        </tr>

                    }


                }
            </tbody>

        </table>
        <div class="col">
            @Html.PagedListPager(Model, page => Url.Action("Index_Oportunidades", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], estado = Request.QueryString["estado"], sortBy = Request.QueryString["sortBy"], nn = Request.QueryString["nn"] }))
        </div>
        <div class="col">
            @Html.ActionLink("Mostrar Todos", "Index_Oportunidades")
        </div>


    }
</div>

@section scripts {

    <script type="text/javascript">
        $(function () {
            $('#my-dialogOps').dialog({
                autoOpen: false,
                width: 'auto',
                height: 'auto',
                resizable: false,
                modal: true
            });

            $('.modolo').click(function () {
                $('#my-dialogOps').load(this.href, function () {
                    $(this).dialog('open');
                });
                return false;
            });
        });

</script>
}


