@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication9.Models.usuario_rol>

@{
    Layout = "~/Views/Proyectob/Shared/_Layout.cshtml";
    ViewBag.Title = "Lista de Usuarios Roles";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="my-dialogUrols"></div>

    <table class="table table-striped" id="medetai">
        <thead class="thead-light">
            <tr>

                <th>
                    @Html.ActionLink("Nombre", "index_uroles", new { sortBy = ViewBag.SortName, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Rol", "index_uroles", new { sortBy = ViewBag.SortRol, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Fecha Inicio", "index_uroles", new { sortBy = ViewBag.SortFechaI, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Fecha Término", "index_uroles", new { sortBy = ViewBag.SortfechaT, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                    @using (Html.BeginForm("/index_uroles", "usuario_rol", FormMethod.Get))
                    {
                    <th class="noExl">
                        <div class="form-group form-inline">
                            @Html.TextBox("search", "", new { @style = "width:150px;", @class = "form-control" })
                            <input type="submit" value="Buscar" class="btn btn-secondary "  />
                            @Html.DropDownList("nn", new SelectList(ViewBag.NumeroR, "Value", "Text"), new { @onchange = "this.form.submit()", @class = "form-control" })
                            @Html.ActionLink("Mostrar todos", "Index_URoles")
                        </div>
                    </th>
                    }
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roles.rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_inicio_rel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_termino_rel)
                </td>

                <td class="noExl">
                    <div class="dropdown">
                        <button type="button" class="btn btn-info dropdown-toggle btn-sm" id="dlDropDown" data-toggle="dropdown">
                            Opciones
                        </button>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Editar", "Edit_usuario_rol", new { id = item.id, }, new { @class = "modolo dropdown-item" })
                            @Html.ActionLink("Detalles", "Details_Uroles", new { id = item.id }, new { @class = "modolo dropdown-item" })
                            @Html.ActionLink("Eliminar", "Delete_URol", new { id = item.id }, new { @class = "modolo dropdown-item" })
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
    <div class="col">
        <button id="export" class="btn btn-sm btn-secondary">Exportar</button>
        @Html.PagedListPager(Model, page => Url.Action("Index_URoles", new { page, search = Request.QueryString["search"], nn = Request.QueryString["nn"], sortBy = Request.QueryString["sortBy"] }))







    </div>
    @section scripts {
        <script type="text/javascript">
            $("#export").click(function () {
                $("#medetai").table2excel({
                    // exclude CSS class
                    exclude: ".noExl",
                    name: "Worksheet Name",
                    filename: "Usuarios_Rol" //do not include extension
                });
            });
            $(function () {
                $('#my-dialogUrols').dialog({
                    autoOpen: false,
                    width: 'auto',
                    resizable: false,
                    modal: true,
                    open: function () {
                        jQuery('.ui-widget-overlay').bind('click', function () {
                            jQuery('#my-dialogUrols').dialog('close');
                        })
                    }
                });

                $('.modolo').click(function () {
                    $('#my-dialogUrols').load(this.href, function () {
                        $(this).dialog('open');
                    });
                    return false;
                });
            });
        </script>

    }
</body>
</html>
