@model WebApplication9.Models.empresa

<h3>¿Está seguro de eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razon_social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razon_social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rubro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rubro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resto_direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resto_direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ctg_empleados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ctg_empleados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.convenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.convenio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zona)
        </dd>

    </dl>
    @Html.ValidationMessage("error", "", new { @class = "text-danger" })


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Volver al índice", "Index_Empresa")
        </div>
    }
</div>
<script>
    $("#my-dialog2").dialog('option', 'title', 'Eliminar Empresa');
    $("#my-dialogEmpresa").dialog('option', 'title', 'Eliminar Empresa');
</script>
