@model WebApplication9.Models.roles

@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .ui-dialog-title {
        font-size: 120%;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.rol)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rol)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>
    

    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-primary" />
                @Html.ActionLink("Volver al índice", "index_roles")
            </div>
        }

    </div>
<script>
    $("#my-dialog2").dialog('option', 'title', 'Eliminar Rol');
    $("#my-dialogRols").dialog('option', 'title', 'Eliminar Rol');


</script>
</body>
</html>
