@model WebApplication9.Models.empresa

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <style>
        .ui-dialog-title {
            font-size: 120%;
        }

        .control-label {
            font-weight: bold;
        }
    </style>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="form-row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.rut, htmlAttributes: new { @class = "control-label col-sm-6" })
                <div class="col">
                    @Html.EditorFor(model => model.rut, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.rut, "", new { @class = "text-danger" })
                </div>
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.razon_social, htmlAttributes: new { @class = "control-label col-sm-7" })
                    <div class="col">
                        @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.razon_social, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        <div class="form-row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.rubro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.rubro, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.rubro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.calle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.calle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.calle, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.numero, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.resto_direccion, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col">
                    @Html.EditorFor(model => model.resto_direccion, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.resto_direccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.comuna, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.comuna, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.comuna, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ctg_empleados, htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col">
                    @Html.EditorFor(model => model.ctg_empleados, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.ctg_empleados, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.convenio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.convenio, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.convenio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.zona, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.zona, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.zona, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    $("#my-dialog2").dialog('option', 'title', 'Editar Empresa');
    $("#my-dialogEmpresa").dialog('option', 'title', 'Editar Empresa');

</script>
<div>
    @Html.ActionLink("Volver al índice", "/index_empresa")
</div>
