@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication9.Models.empresa>
@{
    ViewBag.Title = "índice de Empresas";
    Layout = "~/Views/Proyectob/Shared/_Layout.cshtml";
}

    <style>

        .table {
  width: 100%;
  table-layout: fixed;
}
        .descr {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
        }

            .descr:hover {
                text-overflow: clip;
                white-space: normal;
                word-break: normal;
            }

    </style>
    <div id="my-dialogEmpresa"></div>

@using (Html.BeginForm("/Index_Empresa", "Empresas", FormMethod.Get))
{   
        <div class="col-sm-4 float-right">
            <p>
                @Html.ActionLink("Crear", "Crear_Empresa", null, new { @class = "modolo btn btn-primary btn-large m-1" })
                @Html.TextBox("search") <input type="submit" value="Buscar" />
                @Html.DropDownList("nn", new SelectList(ViewBag.NumeroR, "Value", "Text"), new { @onchange = "this.form.submit()" })
            </p>
        </div>
       

}

        <table class="table table-striped" id="medetai">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.ActionLink("Rut", "index_empresa", new { sortBy = ViewBag.SortRut, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th>
                @Html.ActionLink("Razón Social", "index_empresa", new { sortBy = ViewBag.SortRSocial, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th>
                @Html.ActionLink("Rubro", "index_empresa", new { sortBy = ViewBag.SortRubro, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th>
                @Html.ActionLink("Calle", "index_empresa", new { sortBy = ViewBag.SortCalle, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th>
                @Html.ActionLink("Número", "index_empresa", new { sortBy = ViewBag.SortNumero, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th>
                @Html.ActionLink("Resto Dirección", "index_empresa", new { sortBy = ViewBag.SortRDireccion, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th>
                @Html.ActionLink("Comuna", "index_empresa", new { sortBy = ViewBag.SortComuna, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th>
                @Html.ActionLink("CTG Empleados", "index_empresa", new { sortBy = ViewBag.SortCTG, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th>
                @Html.ActionLink("Convenio", "index_empresa", new { sortBy = ViewBag.SortConvenio, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th>
                @Html.ActionLink("Zona", "index_empresa", new { sortBy = ViewBag.SortZona, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th>
                @Html.Label("Cupos Ocupados")
            </th>
            <th>
                @Html.Label("Cupos Disponibles")
            </th>
            <th>
                @Html.ActionLink("Oportunidades", "index_empresa", new { sortBy = ViewBag.SortOps, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
            </th>
            <th></th>
            <th></th>


        </tr>
    </thead>
    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rut)
            </td>
            <td class="descr">
                @Html.DisplayFor(modelItem => item.razon_social)
            </td>
            <td class="descr">
                @Html.DisplayFor(modelItem => item.rubro)
            </td>
            <td class="descr">
                @Html.DisplayFor(modelItem => item.calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td class="descr">
                @Html.DisplayFor(modelItem => item.resto_direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ctg_empleados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.convenio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zona)
            </td>
            <td></td>
            <td></td>
            <td>@Html.DisplayFor(modelItem => item.OposN)</td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn btn-info dropdown-toggle btn-sm" id="dlDropDown" data-toggle="dropdown">
                        Opciones
                    </button>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Editar", "Edit_Empresa", null, new { id = item.id }, new { @class = "dropdown-item modolo" })
                        @Html.ActionLink("Detalles", "Details_Empresa", null, new { id = item.id }, new { @class = "dropdown-item modolo" })
                        @Html.ActionLink("Eliminar", "Delete_Empresa", null, new { id = item.id }, new { @class = "dropdown-item modolo" })
                    </div>
                </div> 
            </td>
            <td>
            </td>
        </tr>



    }

</table>

        <div class="col">
            @Html.PagedListPager(Model, page => Url.Action("Index_Empresa", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"], nn = Request.QueryString["nn"] }))
        </div>
        @section scripts {

            <script type="text/javascript">

                $(function () {
                    $('#my-dialogEmpresa').dialog({
                        autoOpen: false,
                        width: 'auto',
                        resizable: false,
                        modal: true,
                    });

                    $('.modolo').click(function () {
                        $('#my-dialogEmpresa').load(this.href, function () {
                            $(this).dialog('open');
                        });
                        return false;
                    });
                });
            </script>

        }
