@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication9.Models.contacto_empresa>

@{
    ViewBag.Title = "Contacto Empresa";
    Layout = "~/Views/Proyectob/Shared/_Layout.cshtml";
}



@*Html.ActionLink("Crear nuevo Contacto Empresa", "Create_Empresa_Contacto")*@


@using (Html.BeginForm("/index_empresa_contacto", "Contacto_Empresa", FormMethod.Get))
{
    <div class="form-group form-inline float-right">
        
            @Html.ActionLink("Crear", "crear_contacto_empresa", null, new { @class = "modolo btn btn-primary btn-large m-1" })
            @Html.TextBox("search",null, new { @style = "width:200px;", @class = "form-control" }) <input type="submit" value="Buscar" class="btn btn-secondary" />
            @Html.DropDownList("nn", new SelectList(ViewBag.NumeroR, "Value", "Text"), new { @onchange = "this.form.submit()", @class = "form-control" })
            @Html.ActionLink("Mostrar todos", "Index_Empresa_Contacto")
        
    </div>


}

<div id="my-dialogEmpresaC"></div>

    <table class="table table-striped" id="medetai">
        <thead class="thead-light">
            <tr>

                <th>
                    @Html.ActionLink("Nombre Empresa", "index_empresa_contacto", new { sortBy = ViewBag.SortNEmpresa, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Nombre Contacto", "index_empresa_contacto", new { sortBy = ViewBag.SortNContacto, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>

                <th>
                    @Html.ActionLink("Fecha Inicio", "index_empresa_contacto", new { sortBy = ViewBag.SortFechaI, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Fecha Termino", "index_empresa_contacto", new { sortBy = ViewBag.SortFechaT, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Cargo", "index_empresa_contacto", new { sortBy = ViewBag.SortCargo, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Teléfono Fijo", "index_empresa_contacto", new { sortBy = ViewBag.SortTfijo, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Celular", "index_empresa_contacto", new { sortBy = ViewBag.SortTcelular, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Rut Empresa", "index_empresa_contacto", new { sortBy = ViewBag.SortRutEmpresa, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Rut Contacto", "index_empresa_contacto", new { sortBy = ViewBag.SortRutContacto, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th></th>
            </tr>
        </thead>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpresaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_inicio_rel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_termino_rel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono_fijo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono_celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empresa.rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactos.rut)
            </td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn btn-info dropdown-toggle btn-sm" id="dlDropDown" data-toggle="dropdown">
                        Opciones
                    </button>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Editar", "Edit_Contacto_Empresa", new { id = item.id }, new { @class = "modolo dropdown-item" })
                        @Html.ActionLink("Detalles", "Details_Contacto_Empresa", new { id = item.id }, new { @class = "modolo dropdown-item" })
                        @Html.ActionLink("Eliminar", "Delete_Contacto_Empresa", new { id = item.id }, new { @class = "modolo dropdown-item" })
                    </div>
                </div>
            </td>
        </tr>
    }

    </table>
<div class="col">
    @Html.PagedListPager(Model, page => Url.Action("index_empresa_contacto", new { page, search = Request.QueryString["search"], nn = Request.QueryString["nn"], sortBy = Request.QueryString["sortBy"] }))


</div>
    @section scripts {
        <script type="text/javascript">
            $(function () {
                $('#my-dialogEmpresaC').dialog({
                    autoOpen: false,
                    width: 'auto',
                    resizable: false,
                    modal: true,
                    open: function () {
                        jQuery('.ui-widget-overlay').bind('click', function () {
                            jQuery('#my-dialogEmpresaC').dialog('close');
                        })
                    }
                });

                $('.modolo').click(function () {
                    $('#my-dialogEmpresaC').load(this.href, function () {
                        $(this).dialog('open');
                    });
                    return false;
                });
            });
        </script>

    }