@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication9.Models.roles>

@{
    Layout = "~/Views/Proyectob/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Roles</title>
</head>
<body>
  
    <div id="my-dialogRols"></div>

    <table class="table table-striped" id="medetai">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.ActionLink("Rol", "index_roles", new { sortBy = ViewBag.SortRol, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @Html.ActionLink("Descripción", "index_roles", new { sortBy = ViewBag.SortDescr, search = Request.QueryString["search"], nn = Request.QueryString["nn"] })
                </th>
                <th>
                    @using (Html.BeginForm("/index_roles", "Roles", FormMethod.Get))
                    {
                        <div class="form-group form-inline">
                            @Html.TextBox("search", "", new { @style = "width:150px;", @class = "form-control" })
                            <input type="submit" value="Buscar" class="btn btn-secondary " />
                            @Html.DropDownList("nn", new SelectList(ViewBag.NumeroR, "Value", "Text"), new { @class = "form-control", @onchange = "this.form.submit()" })
                            @Html.ActionLink("Mostrar todos", "Index_Roles")
                        </div>

                    }
            </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                

                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-info dropdown-toggle btn-sm" id="dlDropDown" data-toggle="dropdown">
                            Opciones
                        </button>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Editar", "EditRoles", null, new { id = item.id }, new { @class = "modolo dropdown-item" })
                            @Html.ActionLink("Eliminar", "DeleteRoles", new { id = item.id }, new { @class = "modolo dropdown-item" })
                        </div>
                    </div>


                </td>
            </tr>
        }

    </table>
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("index_roles", new { page, search = Request.QueryString["search"], nn = Request.QueryString["nn"], sortBy = Request.QueryString["sortBy"] }))
    </div>

    @section scripts {
        <script type="text/javascript">
            $(function () {
                $('#my-dialogRols').dialog({
                    autoOpen: false,
                    width: 400,
                    resizable: false,
                    modal: true,
                    open: function () {
                        jQuery('.ui-widget-overlay').bind('click', function () {
                            jQuery('#my-dialogRols').dialog('close');
                        })
                    }
                });

                $('.modolo').click(function () {
                    $('#my-dialogRols').load(this.href, function () {
                        $(this).dialog('open');
                    });
                    return false;
                });
            });
        </script>
        }
</body>
</html>
