@model WebApplication9.Models.usuario

@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .ui-dialog-title {
        font-size: 120%;
    }

    .control-label {
        font-weight: bold;
    }
</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="col">
        <h3>¿Está seguro que quiere eliminar este registro?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.id)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.id_contacto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.id_contacto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fecha_inicio_rel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fecha_inicio_rel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fecha_termino_rel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fecha_termino_rel)
                </dd>


            </dl>
            @Html.ValidationMessage("error", "", new { @class = "text-danger" })

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-primary" /> |
                    @Html.ActionLink("Volver al índice", "Index_usuarios")
                </div>
            }
        </div>
    </div>
    <script>
        $("#my-dialog2").dialog('option', 'title', 'Eliminar Usuario');
        $("#my-dialogUsers").dialog('option', 'title', 'Eliminar Usuario');
    </script>
</body>
