@model WebApplication9.Models.usuario

@*
    <p>
        @Html.ActionLink("Create New", "Create_Usuario_RolP","Usuario_Rol",null, new { @class = "modolo2 btn btn-primary btn-large m-1" })
    </p>
*@
<style>
    .ui-dialog-title {
        font-size: 120%;
    }
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<div class="col">
    <b>@Html.Label("Nombre Completo:")</b> @Html.DisplayFor(model => model.FullName) &nbsp; <b>@Html.Label("Cargo:")</b>@Html.DisplayFor(model => model.contactos.contacto_empresa.FirstOrDefault().cargo)<br>
    <b>@Html.Label("Empresa:")</b> @Html.DisplayFor(model => model.contactos.contacto_empresa.FirstOrDefault().EmpresaName) &nbsp; <b>@Html.Label("Celular:")</b>@Html.DisplayFor(model => model.contactos.tcel)<br>
    <b>@Html.Label("Estado:")</b> @Html.DisplayFor(model => model.estado)




</div>

<div id="my-dialog2"></div>
<div class="tab">
    <button class="tablinks active" onclick="openCity(event, 'Roles')">Roles</button>
    <button class="tablinks" onclick="openCity(event, 'MisOportunidades')">Mis Oportunidades</button>
    <button class="tablinks" onclick="openCity(event, 'MisActividades')">Mis Actividades</button>
</div>
<div id="Roles" class="tabcontent" style="display:block">
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuario_rol.FirstOrDefault().fecha_inicio_rel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_rol.FirstOrDefault().fecha_termino_rel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactos.rut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_rol.FirstOrDefault().roles.rol)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.uRolesM)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_inicio_rel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_termino_rel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.contactos.rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roles.rol)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit_Usuario_Rol","Usuario_Rol", new { id = item.id, id_usuario2 = Model.id }, new { @class = "modolo2" }) |
                @Html.ActionLink("Detalles", "Details_URoles", "Usuario_Rol", new { id = item.id }, new { @class = "modolo2" }) |
                @Html.ActionLink("Eliminar", "Delete_URol", "Usuario_Rol", new { id = item.id , id_usuario = Model.id }, new { @class = "modolo2" })
            </td>
        </tr>
    }
    </table>
    </div>
<div id="MisOportunidades" class="tabcontent">
    <table class="table">
        <tr>

            <th>
                @Html.DisplayName("Contacto Asignado")
            </th>
            <th>
                @Html.DisplayName("Fecha de Creación")
            </th>
            <th>
                @Html.DisplayName("Fecha de Vencimiento")
            </th>

            <th>
                @Html.DisplayName("Estado")
            </th>
            <th>
                @Html.DisplayName("Tema")
            </th>
            <th>
                @Html.DisplayName("Cupos")
            </th>
            <th>
                @Html.DisplayName("Probabilidad")
            </th>
            <th>
                @Html.DisplayName("Gestiones")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Ops)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_creacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_vencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cupos)
                </td>
                <td></td>
                <td></td>

                <td>
                    @Html.ActionLink("Editar", "Edit_Oportunidad", "Oportunidades", new { id = item.id, id_usuario = Model.id }, new { @class = "modolo2" }) |
                    @Html.ActionLink("Eliminar", "Delete_Oportunidad", "Oportunidades", new { id = item.id, id_usuario = Model.id }, new { @class = "modolo2" })
                </td>

            </tr>
        }

    </table>
</div>

<div id="MisActividades" class="tabcontent">
    <table class="table">
        <tr>
            <th>
                @Html.Label("Fecha de Inicio")
            </th>
            <th>
                @Html.Label("Fecha de Vencimiento")
            </th>
            <th>
                @Html.Label("Titulo")
            </th>
            <th>
                @Html.Label("Asignada a")
            </th>
            <th>
                @Html.Label("Creada por")
            </th>
            <th>
                @Html.Label("Estado")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Activs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_vencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario.contactos.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creada_por)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit_Actividad", "Actividades", new { id = item.id, id_usuario = Model.id }, new { @class = "modolo2" }) |
                    @Html.ActionLink("Detalles", "Details_Actividad", "Actividades", new { id = item.id }, new { @class = "modolo2" }) |
                    @Html.ActionLink("Eliminar", "Delete_Actividad", "Actividades", new { id = item.id, id_usuario = Model.id }, new { @class = "modolo2" })
                </td>

            </tr>
        }

    </table>
</div>


<script type="text/javascript">
        $(function () {
            $('#my-dialog2').dialog({
                autoOpen: false,
                width: 'auto',
                height: 'auto',
                resizable: false,
                modal: true,
                open: function () {
                    jQuery('.ui-widget-overlay').bind('click', function () {
                        jQuery('#my-dialog2').dialog('close');
                    })
                }
            });

            $('.modolo2').click(function () {
                $('#my-dialog2').load(this.href, function () {
                    $(this).dialog('open');
                });
                return false;
            });
    });


        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        } 
        $("#my-dialogUsers").dialog('option', 'title', 'Detalles Usuario');

</script>
