@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebApplication9.Models.usuario>


@{
    ViewBag.Title = "Lista de Usuarios";
    Layout = "~/Views/Proyectob/Shared/_Layout.cshtml";
    if (Session["userID"]==null)

    {
        Response.Redirect("~/Proyectob/Index");
    }
}
<div id="my-dialogUsers"></div>

    <table class="table table-striped" id="medetai">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.ActionLink("Nombre Completo", "index_usuarios", new { sortBy = ViewBag.SortNC, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"] })
                </th>
                <th>
                    @Html.ActionLink("Estado", "index_usuarios", new { sortBy = ViewBag.SortEstado, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"] })
                </th>
                <th>
                    @Html.ActionLink("Fecha Inicio", "index_usuarios", new { sortBy = ViewBag.SortFechaI, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"] })
                </th>
                <th>
                    @Html.ActionLink("Fecha Término", "index_usuarios", new { sortBy = ViewBag.SortFechaT, search = Request.QueryString["search"], nn = Request.QueryString["nn"], estado = Request.QueryString["estado"] })
                </th>
                @using (Html.BeginForm("/Index_usuarios", "Usuarios", FormMethod.Get))
                {
                    <th>
                        @Html.TextBox("search", "", new { @style = "width:150px;" })
                        <input type="submit" value="Buscar" />
                        @Html.DropDownList("nn", new SelectList(ViewBag.NumeroR, "Value", "Text"), new { @onchange = "this.form.submit()" })

                        @Html.DropDownList("activ", new SelectList(ViewBag.Estados, "Value", "Text"), new { @onchange = "this.form.submit()" })
                        @Html.ActionLink("Crear Usuario", "CreateP_Usuario", "Usuarios", null, new { @class = "modolo btn-primary btn-sm" })




                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_inicio_rel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_termino_rel)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-info dropdown-toggle btn-sm" id="dlDropDown" data-toggle="dropdown">
                                Opciones
                            </button>
                            <div class="dropdown-menu">
                                @Html.ActionLink("Editar", "Edit_Usuario", null, new { id = item.id }, new { @class = "modolo  dropdown-item" })
                                @Html.ActionLink("Detalles", "Details2_Usuario", null, new { id = item.id }, new { @class = "modolo dropdown-item" })
                                @Html.ActionLink("Eliminar", "Delete_Usuario", null, new { id = item.id }, new { @class = "modolo  dropdown-item" })
                            </div>
                        </div>


                    </td>

                </tr>
            }
        </tbody>
</table>
<div class="col">
    @Html.PagedListPager(Model, page => Url.Action("Index_usuarios", new { page, search = Request.QueryString["search"], search2 = Request.QueryString["search2"], nn = Request.QueryString["nn"], activ = Request.QueryString["activ"], sortBy = Request.QueryString["sortBy"] }))
</div>
    @section scripts {


        <script type="text/javascript">
            $(document).ready(function () {
                $("#medetai").freezeHeader({});
            })

            $(function () {
                $('#my-dialogUsers').dialog({
                    autoOpen: false,
                    width: 'auto',
                    resizable: false,
                    modal: true,
                    open: function () {
                        jQuery('.ui-widget-overlay').bind('click', function () {
                            jQuery('#my-dialogUsers').dialog('close');
                        })
                    }
                });

                $('.modolo').click(function () {
                    $('#my-dialogUsers').load(this.href, function () {
                        $(this).dialog('open');
                    });
                    return false;
                });
            });
        </script>

        }

