@model WebApplication9.Models.usuario_rol
<style>
    .ui-dialog-title {
        font-size: 120%;
    }

    .control-label {
        font-weight: bold;
    }
</style>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio_rel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio_rel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_termino_rel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_termino_rel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roles.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roles.rol)
        </dd>

        <dt>
            @Html.Label("ID de contacto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.id_contacto)
        </dd>

    </dl>
</div>
<script type="text/javascript">
    $("#my-dialog2").dialog('option', 'title', 'Detalle');
    $("#my-dialogUrols").dialog('option', 'title', 'Editar');
</script>
<p>
    @Html.ActionLink("Ir al índice", "Index_URoles")
</p>
