@model WebApplication9.Models.actividad

@{
    ViewBag.Title = "Detalles Actividad";
    Layout = null;
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_vencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creada_por)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creada_por)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oportunidades.tema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oportunidades.tema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.id_contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.id_contacto)
        </dd>

    </dl>
</div>

<script type="text/javascript">
    $("#my-dialog2").dialog('option', 'title', 'Detalle Actividad');
    $("#my-dialogActs").dialog('option', 'title', 'Detalle Actividad');
</script>
